body {
    background-color: #242424;
    padding: 10px;
}

label, li {
    color: #A5A5A5;
}

.FractalDiv {
    min-width: 100px;
    width: 100%;
    height: calc(100vh - 200px);
    min-height: 500px;
    border: 1px solid #525252;
    margin-bottom: 20px;
}